/build32W*
/build64W*
/build32L*
/build64L*
/build
/bind
/bin
/boost_*
/libgit2-*
/libpng-*
/libssh2-*
/libpng-*
/zlib-*
/.vc
/.vs
/.idea
/cmake-build-debug
/Example/fileversion
/Example/Templates/VanessaExt/Ext/Template.bin
AddIn.zip
XxCompile.bat
manifest.xml
*.epf
*.o
*.d
*.so
