################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/build64
/build32
/build
/bind64
/bind32
/bin64
/bin32
/bin
/.vc
/.vs
/Example/fileversion
AddIn.zip
XxCompile.bat
*.epf
*.o
*.d
*.so
