################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/zlib-*
/opencv-*
/libgit2-*
/libssh2-*
/boost_*
/database
/build64W
/build32W
/build64
/build32
/build
/bind64
/bind32
/bin64
/bin32
/bin
/.vc
/.vs
/Example/fileversion
Example/Templates/*/Ext/Template.bin
AddIn.zip
XxCompile.bat
*.epf
*.o
*.d
*.so
